/*폰트: 소피아 프로*/

 @import url('https://use.typekit.net/xfq6tny.css');


	@font-face{font-family: "sofia-pro", sans-serif;
				font-weight: 100;
				font-style: ultralight;}
	@font-face{font-family: "sofia-pro", sans-serif;
				font-weight: 200;
				font-style: light;}
	@font-face{font-family: "sofia-pro", sans-serif;
				font-weight: 300;
				font-style: regular;}
	@font-face{font-family: "sofia-pro", sans-serif;
				font-weight: 400;
				font-style: medium;}
	@font-face{font-family: "sofia-pro", sans-serif;
				font-weight: 500;
				font-style: semi-bold;}
	@font-face{font-family: "sofia-pro", sans-serif;
				font-weight: 600;
				font-style: bold;}
	@font-face{font-family: "sofia-pro", sans-serif;
				font-weight: 700;
				font-style: black;}


	/*폰트: 프리텐다드*/

	@font-face {
		    font-family: 'Pretendard-Light';
		    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
		    font-weight: 100;
		    font-style: light;
		}


		@font-face {
		    font-family: 'Pretendard-Regular';
		    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
		    font-weight: 400;
		    font-style: normal;
		}

		@font-face {
		    font-family: 'Pretendard-Black';
		    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
		    font-weight: 900;
		    font-style: bold;
		}

		@font-face {
		    font-family: 'Pretendard-Bold';
		    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
		    font-weight: 700;
		    font-style: bold;}

		@font-face {
			  font-family: "Raleway Dots", sans-serif;
			  font-weight: 400;
			  font-style: normal;}

	/*전체*/

html, body, h1, h2, h3, p, ul { margin: 0; padding: 0; overflow-x: hidden; }
body { background: black; color: white; }
.flex { display: flex; justify-content: space-between; padding-top: 10px; }
.content { padding-top: 60px; }
.wrap { padding: 0 100px; margin: auto; }
.wrap01 { max-width: 100%; margin: auto; padding-right: 50px; }
.content { padding-top: 10vw; }
section { padding-top: 30vw; }

	#circle {
	  width: 50px;
	  height: 50px;
	  background: radial-gradient(circle, black 50%, white 100%); /* 원형 그라디언트 설정 */
 	 border: 2px solid transparent; /* 테두리를 투명하게 설정하여 그라디언트에 영향을 받지 않도록 함 */
	  mix-blend-mode: difference; /* 반전 효과 */
	  border-radius: 50%;
	  position: fixed;
	  pointer-events: none;
	  transition: transform 0.1s ease-out;
	}

	#circle-container {
	  position: relative;
	  width: 200px;
	  height: 200px;
	}


/*	폰트*/

.bigtitle0, .middletitle0 {
	font-family: 'sofia-pro';
	transition: font-size 0.3s;
}

.bigtitle0 {
	font-size: 2vw;
	font-weight: 100;
}

.middletitle0 {
	font-size: 1vw;
	font-weight: 100;
}

.bigtitle{font-family: 'sofia-pro'; font-size: 3vw; font-weight: 100;}
.middletitle {font-family: 'sofia-pro'; font-size: 1vw; font-weight: 100;}

.title {font-family: 'sofia-pro'; font-size: 1vw; font-weight: 500;}


.smalltitle {font-family: 'Pretendard-Bold'; font-size: 1vw;}
.small {font-family: 'Pretendard-Light'; font-size: 1vw;}
.ultrasmall {font-family: 'Pretendard-Light'; font-size: 1vw;}

	/*nav 바*/
	.navbar {display: flex;
		justify-content: flex-end;
		width: 100%;
		position: fixed;
		z-index: 1000;
		justify-content:space-between;
		align-content: center;
		padding: 2rem 0;
		text-align: center;

		font-family: 'sofia-pro';
		font-size: 1.5em; 
		font-weight: 100;
	}

	.logo {padding-left: 2rem;}

	.menu ul{list-style-type: none;

		margin: 0;
		padding: 0;
	    display: flex;
	    color: white;

	    text-align: center;
	    text-decoration: none;
	}

	.menu li {margin-left: 5vw; list-style-type: none; text-decoration: none; padding-right: 1rem;
}
	.menu li a{display: block; padding: 0vw 2vw 0vw 2vw; color: gray; list-style-type: none; text-decoration: none;}
	.menu li a:hover{color: white;}

/*헤더*/


header { text-align: center; }

.center { display: flex; justify-content: center; align-items: center; }

.circle-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20vw;
	height: 30vw;
	border-radius: 50%;
	background: radial-gradient(circle, black 60%, white 100%);
	mix-blend-mode: difference;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	text-align: center;
	flex-direction: column;
	scroll-snap-align: center;


	flex-shrink: 0;
	transition: width 0.3s, height 0.3s;
}

.circle-container.active { width: 40vw; height: 40vw; }
.circle-container.active .bigtitle0 {
	font-size: 4vw;
}

.circle-container.active .middletitle0 {
	font-size: 2vw;
}


.scroll-container {
	display: flex;
	width: 100vw;
	height: 100%;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	justify-content: center;
	align-items: center;
}

.spacer {
	width: 50vw;
	flex-shrink: 0;
}

/*info*/

.space {background-image: }
.info{text-align: center; padding-top: 20vw;}

.scroll-container-typography {
	display: flex;
	width: 100vw;
	height: 100%;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	justify-content: center;
	align-items: center;
}

.typography-item {
	flex-shrink: 0;
	width: 20vw;
	text-align: center;
	transition: font-size 0.3s;
	scroll-snap-align: center;
	margin: 0 20px;
}

.typography-item.active .bigtitle {
	font-size: 5vw;
}

.typography-item.active .middletitle {
	font-size: 2.5vw;
}


/*archive*/

.archive{text-align: center;}
.picker {height: 3vw; padding-bottom: 1vw;}



/*그리드*/

.background, .ruler {
  pointer-events: none;
  top: 0;
  left: 0;
}

.ruler {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 calc(0.75rem * 2);
}

.ruler span {
  height: 2rem;
  width: 2px;
  background: #fff;
}


.ruler.ruler-top {
  top: 0;}

.underline-border {
   width: 100%;
   height: 1px; /* 선의 두께 */
   background: white; /* 선의 색상 */
}


/*	footer 바*/

footer {padding-top: 10vw;}
.smalllogo{height: 2vw; padding-bottom: 1vw;}
.footerpadding01 {padding-bottom: 2vw;}
.footerpadding {padding-top: 2vw;}
.footerpadding02 {padding-top: 5vw;}
.flex01{display: flex; width:100%; padding: 0; gap: 10%}
.flexitem02{width: 60%;}
.flexitem03{width: 20%; max-width: 100%;}
